*{
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    background-color: rgb(184, 28, 189);
    padding: 1%;
}

body{
    background-image: url(ChatGPT\ Image\ 9\ de\ mai.\ de\ 2025\,\ 16_45_59.png);
    background-size: cover;
}