*{
    margin: 0%;
    padding: 0%;
}

header {
    text-align: center;
    color: rgb(255, 235, 251);
    background-color: pink;
    padding: 1%;

}

body{
    background-color: rgb(255, 237, 240);
    
}

#hellu{
    justify-content: flex-end;
    text-align: right;
}

#HELLOKITTY{
    width: 10%;
}

#d1{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T1{
    color: rgb(248, 106, 130);
}

a{
    color: rgb(0, 0, 0);
}

#hecollitty{
    width: 9%;
    float: right;
}

#d2{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T2{
    color: rgb(248, 106, 130);
}

#d3{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T3{
    color: rgb(248, 106, 130);
}

#d4{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T4{
    color: rgb(248, 106, 130);
}

#d5{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T5{
    color: rgb(248, 106, 130);
}

#d6{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T6{
    color: rgb(248, 106, 130);
}

#d7{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T7{
    color: rgb(248, 106, 130);
}

#d8{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T8{
    color: rgb(248, 106, 130);
}

#d9{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T9{
    color: rgb(248, 106, 130);
}

#d10{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T10{
    color: rgb(248, 106, 130);
}

#d11{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T11{
    color: rgb(248, 106, 130);
}

#d12{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T12{
    color: rgb(248, 106, 130);
}

#d13{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T13{
    color: rgb(248, 106, 130);
}

#d14{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T14{
    color: rgb(248, 106, 130);
}

#d15{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T15{
    color: rgb(248, 106, 130);
}

#d16{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T16{
    color: rgb(248, 106, 130);
}

#d17{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T17{
    color: rgb(248, 106, 130);
}

#d18{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T18{
    color: rgb(248, 106, 130);
}

#d19{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T19{
    color: rgb(248, 106, 130);
}

#d20{
    margin: 10% 10%;
    background-color: rgb(255, 203, 211);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 2%;
    border-radius: 10px;
}

#T20{
    color: rgb(248, 106, 130);
}
