*{
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    background-color: rgb(110, 224, 255);
    padding: 1%;
}

body{
    background-image: url(23bb8953-ebe1-45f6-b33a-07bebd66cb51.png);
    background-size: cover;

}

p{
    color: rgb(119, 119, 119);
}

a{
    color: rgb(232, 248, 255);
}

h1{
    color: rgb(97, 192, 255);
}

label{
    color: rgb(109, 109, 109);
}

#Cinnamoroll{
    justify-content: flex-end;
    text-align: right;
}

#CINNAMOROLL {
    width: 10%;
    margin-top: 10%;                                         
}

#semaforo{
    margin-left: 30%;
    margin-right: 30%;
    padding: 2% 0%;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
}

input{
    margin: 1%;
    font-size: large;
    border: none;
    padding: 1%;
    border-radius: 10px;
}

  .semaforo {
      width: 100px;
      background-color: #333;
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto 30px;
    }

    .luz {
      width: 60px;
      height: 60px;
      margin: 15px auto;
      border-radius: 50%;
      background-color: #111;
      transition: background-color 0.3s;
    }

    .vermelho.ativo {
      background-color: red;
    }

    .amarelo.ativo {
      background-color: yellow;
    }

    .verde.ativo {
      background-color: green;
    }

     button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
    }