*{
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    background-color: rgb(255, 174, 221);
    padding: 1%;
}

body{
    background-image: url(2d0721df-d41f-4ab3-b204-52bee04f0ab7.png);
    background-size: cover;

}

a{
    color: rgb(196, 222, 255);
}

h1{
    color: rgb(255, 135, 205);
}

#Little{
    justify-content: flex-end;
    text-align: right;
}

#LITTLE{
    width: 30%;
    margin-top: 10%;                                         
}

#notas{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.616);
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0%;
    padding-bottom: 3%;
    border-radius: 10px;
}

input[type="number"] {
    padding: 5px; 
    font-size: 1rem; 
    border-radius: 10px; 
    border: none; 
    outline: none;
    margin: 1%;
  }