*{
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    background-color: rgb(41, 189, 28);
    padding: 1%;
}

body{
    background-color: rgb(151, 247, 151);
}

a{
    color: rgb(208, 255, 208);
}

#Keroppi{
    justify-content: flex-end;
    text-align: right;
}

#KEROPPI{
    width: 10%;
}